.SearchFormButton {
  display: inline-block;
  min-width: 48px;
  height: 48px;
  border: 0;
  padding: 0;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchFormButton:hover {
  opacity: 1;
}
