.SearchForm {
  position: sticky;
  top: 100px;
  left: 0;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  background-color: #5fbdce;
  border-radius: 3px;
  z-index: 1100;
  margin-bottom: 40px;
  overflow: hidden;
}

.SearchIcon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("https://image.flaticon.com/icons/svg/149/149852.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00796b;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchFormInput {
  display: inline-block;
  width: 100%;
  height: 48px;
  border: 0;
  opacity: 0.6;
  font: inherit;
  background-color: #f3f2f2;
  font-size: 20px;
  outline: none;
  padding: 0 20px;
}

.SearchFormInput::placeholder {
  font: inherit;
  font-size: 18px;
}
